
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Invalid State</title>
</head>
<body>
    <div> 
        Invalid State
    </div>
</body>
</html>
